//
// _dropdown.scss
//

.dropdown-menu {
  box-shadow: $box-shadow-lg;
  animation-name: DropDownSlide;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  position: absolute;
  z-index: 1000;

  &.dropdown-megamenu {
    padding: 20px;
    left: 0 !important;
    right: 0 !important;
  }

  &[data-popper-placement="top-start"] {
    animation-name: DropDownSlideDown;
  }
}

@keyframes DropDownSlide {
  100% {
    margin-top: -1px;
  }
  0% {
    margin-top: 8px;
  }
}

@keyframes DropDownSlideDown {
  100% {
    margin-bottom: 0;
  }
  0% {
    margin-bottom: 8px;
  }
}

.dropdown-toggle {
  @include caret(up);
}

.dropdown-menu-end[style] {
  right: 0 !important;
  left: auto !important;
}

@media (min-width: 600px) {
  .dropdown-menu-lg {
    width: 320px;
  }

  .dropdown-menu-md {
    width: 240px;
  }
}

.dropdown-divider {
  border-top-color: $border-color;
}

.emotion-dropdown {
  transform: translate3d(307px, -392px, 0px) !important;
}


.round-btn {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}

 .emoji-input {
   position: absolute;
   left: 17px;
   top: 10px;
 }


.emoji-input-dropdown {
  border-radius: 50% !important;
  aspect-ratio: 1 / 1 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  padding: 0px;
  i {
    color: #7B7B7B;
    font-size: 25px !important;
  }
 }


 .main-input-container {
   display: flex;
   position: relative;
   align-items: center;
   justify-content: space-between;
   .round-input {
     input {
      border-radius: 21.5px;
      padding: 0 50px;
     }
     width: 100%;
   }
   .round-btn {
    width: 45px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 }

 .chat-send {
   display: none;
 }

 .input-file {
   position: absolute;
   right: 17px;
   top: 4px;
   label {
     padding: 0 !important;
     i {
      font-size: 20px;
      color: #7B7B7B;
     }
   }
 }

 .chat-input {
   width: calc(100% - 468px);
   position: fixed;
   bottom: 0;
  .main-input {
    width: calc(100% - 50px);
    position: relative;
  }
}

.message-submit-btn, .mic-btn {
  display: none;
}

.message-submit-btn.show, .mic-btn.show {
  display: block;
}



.voice-record-img {
  font-size: 80px;
}
@media (max-width: 992px) {
  .chat-input {
    width: 100% !important;
  }
}