// 
// authentication.scss
//

.auth-logo{
    .logo{
        margin: 0px auto;
    }

    .logo-dark{
        display: $display-block;
    }

    .logo-light{
        display: $display-none;
    }
}

.auth-main-btn {
    background-color: #343434;
    color: white !important;
    border: none;
    width: 100%;
    height: 45px;
    margin: auto;
    border-radius: .4rem;
    transition: .4s ease;
    &:hover {
        background-color: #2B2C33;
    }
    &:disabled {
        color: #343434;
    }
}
.auth-first h1 {
    font-size: 60px;
    color: white !important;
}
.auth-first p {
    font-size: 30px;
    color: white !important;
}
.account-pages {
    padding: 7rem 0 !important;
}

.alert-success {
    background-color: transparent !important;
    border: none !important;
}

.code-input {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .code-label {
    margin-bottom: 16px;
  }
  .code-inputs {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 36px;
  }
  .code-inputs input {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: center;
    height: 50px;
    width: 40px;
    border-radius: 10px;
    margin: 0 4px;
    border: 2px solid white;
    font-size: 28px;
    color: white;
    padding: 1px;
  }
  .code-inputs input:focus {
    outline: none;
  }

  
