// 
// chat-leftsidebar.scss
//


.chat-leftsidebar {
    height: 100vh;
    background-color: $sidebar-sub-bg;

    @media (min-width: 992px) {
        min-width: 380px;
        max-width: 380px;
    }

    .user-status-box {
        background-color: $light;
        padding: 8px;
        border-radius: 8px;
        text-align: center;
        margin-top: 16px;
        display: block;

        .chat-user-img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
    }
}

.chat-search-box {
    .form-control {
        border: 0;
    }

    .search-icon-btn {
        font-size: 16px;
        position: absolute;
        right: 13px;
        top: 0;
    }
}

.chat-message-list {
    height: calc(100vh - 95px);
    @media (max-width: 991.98px) {
        height: calc(100vh - 160px);
    }
}

.chat-group-list {
    height: calc(100vh - 90px);
    @media (max-width: 991.98px) {
        height: calc(100vh - 160px);
    }
}


.chat-list {
    margin: 0;

    li {
        &.active {
            a {
                background-color: $light;
            }
        }

        a {
            position: relative;
            display: block;
            padding: 15px 20px;
            color: $gray-600;
            transition: all 0.4s;
            border-top: 1px solid $sidebar-sub-bg;
            border-radius: 4px;

            &:hover {
                background-color: $light;
            }
        }

        .chat-user-message {
            font-size: 14px;
        }


        &.typing {
            .chat-user-message {
                color: $primary;
                font-weight: $font-weight-medium;

                .dot {
                    background-color: $primary;
                }
            }
        }

        .unread-message {
            position: absolute;
            display: inline-block;  
            right: 24px/*rtl:auto*/;
            left: auto/*rtl:0*/;
            top: 33px;

            .badge {
                line-height: 16px;
                font-weight: $font-weight-semibold;
                font-size: 10px;
            }
        }
    }
}

.chat-user-img {
    position: relative;

    .user-status {
        width: 13px;
        height: 13px;
        background-color: $gray-500;
        border-radius: 50%;
        border: 1px solid $card-bg;
        position: absolute;
        right: 0/*rtl:auto*/;
        left: auto/*rtl:0*/;
        
        bottom: 0;


    }

    &.online {
        .user-status {
            background-color: $success;
        }
    }

    &.away {
        .user-status {
            background-color: $warning;
        }
    }
}

// contact list

.contact-list {
    li {
        cursor: pointer;
        padding: 10px 20px;
    }
}


// setting

.profile-user {
    position: relative;
    display: inline-block;

    .profile-photo-edit {
        position: absolute;
        right: 0/*rtl:auto*/;
        left: auto/*rtl:0*/;
        bottom: 0;
    }
}


// ------------------------------------------- post chat leftside bar customize-----------------------------------

.nav-post-img {
    img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }
}


.leftsidebar-home-header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-bottom: .5rem;
    
    h4 {
        margin-top: 0.5rem;
    }
    .home-header-btn {
        width: 45px;
        height: 45px;
        border-radius: .4rem;
        background-color: #343434;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 .3rem;
       .nav-link {
            color: #929292;
       }
       .notification-badge {
        top: -2%;
        right: -25%;
       }
    }
    
    .home-header-btn-group {
        display: flex;
    }
    .profile-user {
        height: 36px;
        width: 36px;
        // background-color: #343434;
        // padding: 3px;
        
    }
    .chat-search-box {
        width: calc(100% - 200px);
        input {
            padding-left: 5px;
        }
        span {
            padding-left: 10px !important;
        }
    }
    .dropdown-menu.show {
        transform: translate3d(-135px, 55px, 0px) !important;
    }
}
