// 
// chat-leftsidebar.scss
//


.chat-leftsidebar {
    height: 100vh;
    background-color: $sidebar-sub-bg;

    @media (min-width: 992px) {
        min-width: 380px;
        max-width: 380px;
    }

    .user-status-box {
        background-color: $light;
        padding: 8px;
        border-radius: 8px;
        text-align: center;
        margin-top: 16px;
        display: block;

        .chat-user-img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
    }
}

.chat-search-box {
    .form-control {
        border: 0;
    }

    .search-icon-btn {
        font-size: 16px;
        position: absolute;
        right: 13px;
        top: 0;
    }
}

.chat-post-list {
    background-color: #1d1d1d;
    height: calc(100vh - 95px - env(safe-area-inset-top) - env(safe-area-inset-bottom) );
    @media (max-width: 991.98px) {
        // height: calc(100vh - 145px);
        // height: 100vh;
        padding-bottom: 60px;
    }
}


.chat-message-list {
    background-color: #1d1d1d;
    height: calc(100vh - 155px - env(safe-area-inset-top) - env(safe-area-inset-bottom));
    @media (max-width: 991.98px) {
        // height: calc(100vh - 214px);
        // height: 100vh;
        padding-bottom: 60px;
    }
}


.chat-list {
    margin: 0;

    li {
        &.active {
            a {
                background-color: $light;
            }
        }

        a {
            position: relative;
            display: block;
            padding: 15px 20px;
            color: $gray-600;
            transition: all 0.4s;
            border-top: 1px solid $sidebar-sub-bg;
            border-radius: 4px;

            &:hover {
                background-color: $light;
            }
        }

        .chat-user-message {
            font-size: 14px;
        }


        &.typing {
            .chat-user-message {
                color: $primary;
                font-weight: $font-weight-medium;

                .dot {
                    background-color: $primary;
                }
            }
        }

        .unread-message {
            position: absolute;
            display: inline-block;  
            right: 24px/*rtl:auto*/;
            left: auto/*rtl:0*/;
            top: 33px;

            .badge {
                line-height: 16px;
                font-weight: $font-weight-semibold;
                font-size: 10px;
            }
        }
    }
}

.chat-user-img {
    position: relative;

    .user-status {
        width: 13px;
        height: 13px;
        background-color: $gray-500;
        border-radius: 50%;
        border: 1px solid $card-bg;
        position: absolute;
        right: 0/*rtl:auto*/;
        left: auto/*rtl:0*/;
        
        bottom: 0;


    }

    &.online {
        .user-status {
            background-color: $success;
        }
    }

    &.away {
        .user-status {
            background-color: $warning;
        }
    }
}

// contact list

.contact-list {
    li {
        cursor: pointer;
        padding: 10px 20px;
    }
}


// setting

.profile-user {
    position: relative;
    display: inline-block;

    .profile-photo-edit {
        position: absolute;
        right: 0/*rtl:auto*/;
        left: auto/*rtl:0*/;
        bottom: 0;
    }
}


// ------------------------------------------- post chat leftside bar customize-----------------------------------

.nav-post-img {
    img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }
}


.leftsidebar-home-header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-bottom: .5rem;
    
    h4 {
        margin-top: 0.5rem;
    }
    .home-header-btn {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #343434;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 .1rem;
       .nav-link {
            color: #929292;
       }
       .notification-badge {
        top: -2%;
        right: -25%;
       }

       
    }
    
    .home-header-btn-group {
        display: flex;
    }
    .profile-user {
        height: 36px;
        width: 36px;
        // background-color: #343434;
        // padding: 3px;
        
    }
    .chat-search-box {
        width: calc(100% - 165px);
        margin-left: .5rem;
        input {
            padding-left: 5px;
            border-radius: 0 22.5px 22.5px 0 !important;
        }
        span {
            padding-left: 10px !important;
            border-radius: 22.5px 0 0 22.5px !important;
        }
    }
    // .dropdown-menu.show {
    //     transform: translate3d(-135px, 55px, 0px) !important;
    // }
    .group-add-btn {
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        background: #343434;
        border: unset !important;
        color: #929292 !important;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        margin-left: 5px;
        i {
            margin-right: 0 !important;
        }
   }
}

.nav-post-cover {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

@media (max-width: 992px) {
    .nav-home-header, .nav-message-header {
        position:fixed;
        top: env(safe-area-inset-top);
        background-color: #1d1d1d;
        z-index: 99;
        width: 100%;
    }
    .chat-post-list {
        position: fixed;
        top: calc(85px + env(safe-area-inset-top));
        width: 100%;
    }
    .chat-message-list {
        position: fixed;
        top:  calc(154px + env(safe-area-inset-top));
        width: 100%;
    }
}