@import "./_theme.scss";

body {
  background-color: white;
}

.iphone-header {
  width: 100%;
  height: env(safe-area-inset-top);
  position: fixed;
  z-index: 9999;
  top: 0;
  background-color: #19191B;
}

.iphone-footer {
  width: 100%;
  height: env(safe-area-inset-bottom);
  position: fixed;
  z-index: 9999;
  bottom: 0;
  background-color: #19191B;
}

._sp {
  display: none;
}

@media (max-width: 992px) {
  ._sp {
    display: block;
  }
  ._pc {
    display: none;
  }
}

.white-img {
  display: none;
}


// body {
//   background: red !important;
// }

.chat-conversation .conversation-list .ctext-wrap-content::before {
  display: none;
}

// .border-bottom {
//   background-color: #272727;
//   border: none !important;
// }

// notification
.notification-cover {
  position: relative;
  z-index: 1;
  .notification-badge {
    position: absolute;
    z-index: 2;
    color: white;
    background-color: #7269ef;
    top: 16%;
    right: 20%;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
// notification
label {
  cursor: pointer;
}
.modal-content {
  background-color: #242424;
}
.form-control {
  background-color: #19191B;
  
}
.form-control:focus {
  color: white;
}
// @media (max-width: 991.98px) {
//   .chat-main-board .tab-content > .tab-pane {
//     display: block;
//   }
// }



.alert-danger, .alert-success {
  background-color: transparent !important;
  border-color: transparent !important;
  color:white !important;
  text-align: center;
}

.bg-light {
  background-color: #343434 !important;
}
// -----------------------theme-dark------------------------
.theme--dark {
  background-color: #19191B;
  // color: white;
  .form-check-label {
    color: white;
  }
}
//------------------------ Theme-light white ---------------------------
.theme--light {
  color: #495057;
  background-color: white;
  .preloader {
    background-color: white;
  }
  
  .iphone-header, .iphone-footer {
    background-color: white;
  }
  .side-menu {
    background: white;
  }
  .side-menu-nav .nav-item .nav-link.active, .side-menu-nav .nav-item.show>.nav-link {
    background-color: #f7f7ff;
    color: #7269ef;
  }
  .card {
    background-color: white;
  }


  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #495057;
  }

  .form-control {
    color: #495057;
    background-color: #fff !important;
    border: 1px solid #e6ebf5 !important;
  }
  .text-muted {
    color: #343434!important;
  }
  .code-inputs input {
    border-color: #343434;
    color: #242424;
  }
  .auth-first h1, .auth-first .h1 {
    color: #343434 !important;
  }
  .bg-soft-light {
    background-color: rgba(230,235,245,.25)!important;
  }
  .logo-dark {
    display: block;
  }
  .logo-light {
    display: none;
  }
  .input-group-text {
    background-color: #f5f7fb;
    border: 1px solid #e6ebf5 !important;
  }
  .form-check-input {
    background-color: white;
    border: 1px solid #a6b0cf;
  }
  .form-check-input:checked {
    background-color: #7269ef;
    border-color: #7269ef;
  }
  .side-menu-nav .nav-item .nav-link {
    color: #878a92;
  }
  .side-menu-nav .profile-user {
    background-color: #f0eff5;
  }
  .chat-leftsidebar {
    background-color: #f5f7fb;
  }

  .bg-light {
    background-color: #e6ebf5!important;
  }
  .main-chat-board {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
  }
  .chat-list li a {
    border-top: 1px solid #f5f7fb;
    transition: none;
  }
  .chat-conversation .right .conversation-list .ctext-wrap .ctext-wrap-content {
    background-color: #f5f7fb;
  }
  .border-bottom {
    border-bottom: 1px solid #f0eff5!important;
  }
  .chat-conversation .chat-day-title .title {
    background-color: #f0eff5;
  }
  .chat-conversation .chat-day-title:before {
    background-color: #f0eff5;
  }
  .border-top {
    border-top: 1px solid #f0eff5!important;
  }
  .dropdown-menu {
    color: #495057;
    background-color: #fff;
    border: 1px solid #f0eff5;
  }
  .emoji-mart-light, .emoji-mart-search input {
    background-color: #fff !important;
  }
  .emoji-mart-category-label span {
    color: #262e35 !important;
    background: white !important;
  }
  .emoji-mart-search input {
    border-color: #f5f7fb!important;
  }
  .side-menu {
    border-top: 1px solid #f0eff5;
  }
  .chat-list li.active a {
    background-color: #e6ebf5;
  }
  .chat-list li a:hover {
    background-color: #e6ebf5;
  }
  .card-header {
    background-color: #f5f7fb;
    // border-bottom: 0 solid #f5f7fb;
    border: 1px solid #f0eff5;
  }
  .border {
    border: 1px solid #f0eff5!important;
  }
  .btn-light {
    color: #212529;
    background-color: #e6ebf5;
    border-color: #e6ebf5;
  }
  .text-body {
    color: #495057!important;
  }
  .dropdown-item {
    color: #212529;
    background-color: transparent;
  }
  .dropdown-item:hover {
    background-color: #e6ebf5;
  }
  .img-thumbnail {
    background-color: #f7f7ff;
    border: 1px solid #f0eff5;
  }
  .dropdown-divider {
    border-top-color: #f0eff5;
  }
  .chat-conversation .right .conversation-list .ctext-wrap .ctext-wrap-content:before {
    border-color: #f5f7fb #f5f7fb transparent transparent;
  }
  .chat-conversation .right .conversation-list .ctext-wrap .ctext-wrap-content {
    background-color: #f5f7fb;
    color: #343a40;
  }
  .chat-user-img .user-status {
    background-color: #adb5bd;
    border: 2px solid #fff;
  }
  .chat-user-img.online .user-status {
    background-color: #06d6a0;
  }
  .chat-user-img.away .user-status {
    background-color: #ffd166;
  }
  .chat-leftsidebar .user-status-box {
    background-color: #e6ebf5;
  }
  .chat-list li a {
    position: relative;
    display: block;
    padding: 15px 20px;
    color: #7a7f9a;
  }
  .user-profile-sidebar {
    border-left: 4px solid #f0eff5;
    background-color: #fff;
  }
  // .border-bottom {
  //   background-color: white;
  //   border: none !important;
  // }

  .user-chat, .post-chat, .user-group {
    background-color: white;
  }

  .leftsidebar-home-header {
    .home-header-btn {
      background-color: #e6ebf5;
    }
  }

  .chat-input {
    background-color: white;
  }
  .user-chat-nav .nav-btn {
    color: #495057;
  }
  .leftsidebar-home-header .home-header-btn .group-add-btn {
    background-color: transparent;
  }
  .chat-nav-header-btn {
    color: #343434;
    background-color: #e6ebf5;
  }
  .chat-nav-header-btn.active {
    color: white;
  }
  .chat-post-list, .chat-message-list {
    background-color: white;
  }
  .leftsidebar-home-header .group-add-btn {
    background-color: #e6ebf5;
  }
  .nav-home-header, .nav-message-header {
    background-color: #f5f7fb;
  }
  .post-select-cover {
    background-color: white;
    i {
      color: #262e35;
    }
  }
  .chat-input {
    background-color: #fff;
  }
  .post-textarea {
    background-color: white;
    color: #19191B;
  }
  .post-main .post {
    background-color: #f5f7fb;
  }
  .auth-main-btn {
    // background-color: #f0f2fa;
    // color: #262e35 !important;
    &:hover {
      // background-color: #adb5bd;
    }
  }
  .alert-danger, .alert-success {
    color: #252526 !important;
    border: none;
    // background-color: transparent !important;
  }
  .black-img {
    display: none;
  }
  .white-img {
    display: block;
  }
  .alert-danger .white-img {
    display: inline-block;
  }
  .klubs-header {
    border-bottom: 1px solid #f0eff5;
  }
  .setting-collapse-title {
    color: #495057;
  }
  .auth-main-btn {
    color: white;
  }
  .auth-main-btn {
    @include colored() {
      background-color: c('color') !important;
    }
  }
  .owned-nft-main .header {
    color: #495057;
  }
  .wallet-info-container .wallet-address, .wallet-info-container .icon-cover, .wallet-info-container .icon-cover i {
    background-color: #f5f7fb;
    color: #495057;
  }
  .profile-container > div:nth-child(2) {
    color: #495057;
  }
  .auth-first h1 {
    color: #19191B;
  }

  .profile-edit-main input {
    background-color: #e6ebf5;
    color: #343434;
  }
  
}




//------------------------ Theme color ---------------------------
.chat-conversation .conversation-list .ctext-wrap-content {
  @include colored() {
    background: c('color');
  }
}

.chat-conversation .conversation-list .ctext-wrap-content {
 &::before{
  @include colored() {
    border-left-color: c('color');
    border-top-color: c('color');
  }
 }
}
.side-menu-nav .nav-item .nav-link.active, .side-menu-nav .nav-item.show > .nav-link {
  @include colored() {
    color: c('color');
  }
}
.text-primary {
  @include colored() {
    color: c('color') !important;
  }
}

.btn-primary {
  @include colored() {
    background-color: c('color') !important;
    border-color: c('color') !important;
  }
}

.btn-link {
  @include colored() {
    color: c('color') !important;
  }
}

.chat-list li.typing .chat-user-message {
  @include colored() {
    color: c('color') !important;
  }
}

.chat-list li.typing .chat-user-message .dot {
  @include colored() {
    background-color: c('color') !important;
  }
}

.align-self-start.dropdown a {
  @include colored() {
    color: c('color') !important;
  }
}

#Ellipse_32 {
  @include colored() {
    fill: c('color') !important;
  }
  
}
.notification-cover .notification-badge {
  @include colored() {
    background-color: c('color') !important;
  }
}

.badge-soft-danger {
  color: white;
  @include colored() {
    background-color: c('color') !important;
  }
}

.form-check-input:checked {
  @include colored() {
    background-color: c('color') !important;
    border-color: c('color') !important;
  }
}

.chat-nav-header-btn.active {
  @include colored() {
    background-color: c('color') !important;
    border-color: c('color') !important;
  }
}


.voice-record-img {
    @include colored() {
      color: c('color') !important;
    }
}

.mic-btn {
  .btn-primary {
    @include colored() {
      background-color: c('color') !important;
    }
  }
}


// Add new desing css 


.side-menu-nav .nav-item .nav-link {
    background-color: transparent !important;
    .select {
      display: none;
    }

    &>div {
      color: #4F4F4F;
      font-size: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .profile-img {
        width: 30px;
        height: 30px;
        border-radius: 40px;
        border: 2px solid white;
      }
      span {
        line-height: 1;
        font-weight: 400;
      }
    }

    &.active {
      background-color: transparent !important;
      .select {
        display: block;
        margin: 0;
      }
      .no-select {
        display: none;
        margin: 0;
      }
      &>div {
        color: #6355FA;
        .profile-img {
          border-color: #6355FA;
        }
      }
    }

}

.nav-header-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  height: 56px;
  .nav-header-title {
    font-size: 16px;
    font-weight: 600;
  }
  .header-add-btn {
    width: 32px;
    height: 32px;
    background-color: #F2F2F2;
    color: #333333;
    font-size: 16px;
    border-radius: 99px;
    border: none;
    padding: 0;
  }
}

.nav-header-search-con {
  height: 50px;
  padding: 0 16px 10px 16px;
  background-color: white;
  .chat-search-box {
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 1000px;
    overflow: hidden;
    position: relative;
    span {
      position: absolute;
      left: 24px;
      top: 0px;
      background-color: transparent !important;
    }
    input {
      width: 100%;
      height: 100%;
      padding: 10px 20px 10px 58px;
      border: none;
      background-color: #F2F2F2;
      outline: none;
      font-weight: 16px;
      font-weight: 400;
    }
  }
}
.theme--light {
  .nav-header-header {
    background-color: white;
  }
  .chat-leftsidebar {
    background-color: white;
  }
  .chat-conversation .right .chat-time {
    text-align: left;
    color: #343a40;
}
}


.group-list-con {
  display: flex;
  align-items: flex-start;
  padding: 15px 16px 0 16px;
  justify-content: space-between; 
  margin-bottom: 2px;
  .group-infor-con {
    width: calc(100% - 66px);
  }
  .group-description {
    width: 72%;
    p {
       /* Hides content that exceeds the container width */
        overflow: hidden;

        /* The text is treated as a box element */
        display: -webkit-box;

        /* Sets the max line limit to 3 */
        -webkit-line-clamp: 3;

        /* Sets the orientation of the box */
        -webkit-box-orient: vertical;
        line-height: 1.2;
    }
  }
  .group-information {
    width: 28%;
    text-align: right;
    &>div:first-child {
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: right;
      i {
        font-size: 14px;
        margin-right: 5px;
      }
    }
    &>div:nth-child(2) {
      display: flex;
      align-items: center;
      justify-content: right;
      font-size: 12px;
      span {
        display: inline-block;
        margin-right: 4px;
        width: 8px;
        height: 8px;
        border-radius: 10px;
        background-color: #27AE60;
      }
    }
  }
}

.group-list.chat-list li a {
  padding: 0 !important;
  border: none !important;
}

.group-infor-con {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid #BDBDBD;
}



.theme--light .chat-list li.active a {
  background-color: #F2F2F2;
}


// create klubes 



.horizontal-slider {
  width: 100%;
  // max-width: 500px;
  height: 24px;
}

.example-thumb {
  font-size: 12px;
  color: #6355FA;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-track {
  position: relative;
  background: white;
  cursor: pointer;
}

.example-track.example-track-1 {
  background: #7A6EFB;
}

.horizontal-slider .example-track {
  top: 0;
  height: 24px;
  border-radius: 100px;
}

.horizontal-slider .example-thumb {
  top: 0;
  left: 0;
  width: 30px;
  height: 24px;
  color: #6355FA;
  border-radius: 100px;
  background-color: white;
}


.create-klubs-header {
  background-color: #6355FA;
  color: white;
  padding: 20px 16px;
  width: 100%;

  .header-main {
    position: relative;
    margin-bottom: 16px;
    transition: .3s ease;
    .header-link {
      position: absolute;
      left: 0;
      top: 0;
      i {
        color: white;
        line-height: 1;
        font-size: 20px;
      }
    }
    .header-text {
      font-size: 16px;
      font-weight: 600;
      color: white;
      text-align: center;
    }

  }
  .input-percent {
    width: 100%;
    height: 24px;
    border-radius: 10px;
    background-color: #7A6EFB;
    overflow: hidden;
    
    div {
      transition: .5s ease;
      text-align: right;
      color: #6355FA;
      font-weight: 600;
      font-size: 12px;
      width: 100%;
      height: 100%;
      background-color: white;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: right;
      padding-right: 5px;
    }
  }
  .header-footer.small {
    display: none;
  }
  &.small-bar {
    .header-main {
      display: none;
    }
    .header-footer {
      display: none;
    }
    .header-footer.small {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .input-percent {
        width: calc(100% - 30px);
      }
    }
    i {
      color: white;
      font-size: 20px;
    }
  }
}

@media (max-width: 992px) {
  .create-klubs-header {
    top: env(safe-area-inset-top);
    position: fixed;
    width: 100%;
  }
}

.create-klubs-input-con {
  padding: 24px 16px;
  padding-bottom: 90px;
  background-color: white;
  .profile-img {
    text-align: center;
    img {
      width: 163px;
      height: 163px;
      border-radius: 200px;
      margin-bottom: 16px;
      object-fit: cover;
    }
    label {
      color: #6355FA;
      font-size: 16px;
      font-weight: 600;
      display: block;
    }
  }
  .nec {
    color: #EB5757;
  }
  .input-con {
    width: 100%;
    margin-bottom: 24px;
    .text {
      font-size: 16px;
      font-weight: 600;
      color: #4F4F4F;
      margin-bottom: 10px;
      text-align: left;
    }
    input {
      width: 100%;
      height: 42px;
      padding: 16px 24px;
      font-size: 16px;
      font-weight: 400;
      border-radius: 100px;
      border: 1px solid #828282;
      outline: none;
      &:focus {
        border-color: #6355FA;
        color: #6355FA;
      }
    }
    textarea {
      width: 100%;
      height: 160px;
      border: 1px solid #828282;
      border-radius: 16px;
      padding: 16px 24px;
      resize: none;
      outline: none;
      font-size: 16px;
      font-weight: 400;
      &:focus {
        border-color: #6355FA;
        color: #6355FA;
      }
    }
    .button-con {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      button {
        width: calc(33% - 10px);
        height: 42px;
        border: 1px solid #828282;
        color: #828282;
        background-color: white;
        font-size: 16px;
        font-weight: 400;
        border-radius: 100px;
        &.active {
          border: 1px solid #6355FA;
          color: white;
          background-color: #6355FA;
        }
      }
    }
    .slider-text-1 {
      font-size: 16px;
      font-weight: 400;
      text-align: left;
    }
    .horizontal-slider {
      width: calc(100% - 60px);
      // max-width: 500px;
    }
    
    .example-thumb {
      font-size: 12px;
      color: #6355FA;
      text-align: center;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .example-track {
      position: relative;
      background: #6355FA;
    }
    
    .example-track.example-track-1 {
      background: #E8E6FE;
    }
    
    .horizontal-slider .example-track {
      height: 8px;
      border-radius: 100px;
    }
    
    .horizontal-slider .example-thumb {
      top: -8px;
      left: 0;
      width: 24px;
      background-color: #6355FA;
      height: 24px;
      color: #6355FA;
      border: 2px solid white;
      border-radius: 100px;
    }

    .slider-text-con {
      height: 26px;
      color: #6355FA;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 600;
      padding: 0 8px;
      border: 1px solid #BDBDBD;
      border-radius: 5px;
      line-height: 1;
      margin-left: 10px;
      margin-top: -14px;
      width: 60px;
    }
    .slider-con {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 28px 0 23px 0;
    }
    .social-input-con {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        border-radius: 100px;
        background-color: #F0EEFF;
        margin-right: 8px;
        img {
          width: auto;
          height: auto;
          border-radius: 0;
          margin-bottom: 0;
        }
      }
      input {
        width: calc(100% - 50px);
      }
      .error-text {
        display: none;
      }
    }
    &.error {
      input, textarea {
        border-color: #EB5757;
      }
      .error-text {
        font-size: 12px;
        display: block;
        color: #EB5757;
      }
    }
  }
  .Whale-chat-input-con {
    .slider-text-con {
      color: #48FA9B;
      &:focus {
        color: #06d6a0;
      }
    }
    
    .example-track {
      position: relative;
      background: #48FA9B;
    }
    
    .example-track.example-track-1 {
      background: #E4FEF0;
    }

    .horizontal-slider .example-thumb {
      background-color: #48FA9B;
      color: #48FA9B;
    }
  }
  @media (max-width: 992px) {
    &.small-bar {
      top:  calc(71px + env(safe-area-inset-top));
      height: calc(calc(var(--app-height) - 71px - env(safe-area-inset-top)) - env(safe-area-inset-bottom));
    }
  }

}

