@import "./../themes.scss";
@import "./_theme.scss";

body {
  background-color: white;
}

.iphone-header {
  width: 100%;
  height: env(safe-area-inset-top);
  position: fixed;
  z-index: 9999;
  top: 0;
  background-color: #19191B;
}

.iphone-footer {
  width: 100%;
  height: env(safe-area-inset-bottom);
  position: fixed;
  z-index: 9999;
  bottom: 0;
  background-color: #19191B;
}

._sp {
  display: none;
}

@media (max-width: 992px) {
  ._sp {
    display: block;
  }
  ._pc {
    display: none;
  }
}

.white-img {
  display: none;
}


// body {
//   background: red !important;
// }

.chat-conversation .conversation-list .ctext-wrap-content::before {
  display: none;
}

// .border-bottom {
//   background-color: #272727;
//   border: none !important;
// }

// notification
.notification-cover {
  position: relative;
  z-index: 1;
  .notification-badge {
    position: absolute;
    z-index: 2;
    color: white;
    background-color: #7269ef;
    top: 16%;
    right: 20%;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
// notification
label {
  cursor: pointer;
}

.form-control {
  background-color: #19191B;
  
}
.form-control:focus {
  color: white;
}
// @media (max-width: 991.98px) {
//   .chat-main-board .tab-content > .tab-pane {
//     display: block;
//   }
// }



.alert-danger, .alert-success {
  background-color: transparent !important;
  border-color: transparent !important;
  color:white !important;
  text-align: center;
}

.bg-light {
  background-color: #343434 !important;
}
// -----------------------theme-dark------------------------
.theme--dark {
  background-color: #19191B;
  // color: white;
  .form-check-label {
    color: white;
  }
}
//------------------------ Theme-light white ---------------------------
.theme--light {
  color: #495057;
  background-color: white;
  .preloader {
    background-color: white;
  }
  
  .iphone-header, .iphone-footer {
    background-color: white;
  }
  .side-menu {
    background: white;
  }
  .side-menu-nav .nav-item .nav-link.active, .side-menu-nav .nav-item.show>.nav-link {
    background-color: #f7f7ff;
    color: #7269ef;
  }
  .card {
    background-color: white;
  }


  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #495057;
  }

  .form-control {
    color: #495057;
    background-color: #fff !important;
    border: 1px solid #e6ebf5 !important;
  }
  .text-muted {
    color: #343434!important;
  }
  .code-inputs input {
    border-color: #343434;
    color: #242424;
  }
  .auth-first h1, .auth-first .h1 {
    color: #343434 !important;
  }
  .bg-soft-light {
    background-color: rgba(230,235,245,.25)!important;
  }
  .logo-dark {
    display: block;
  }
  .logo-light {
    display: none;
  }
  .input-group-text {
    background-color: #f5f7fb;
    border: 1px solid #e6ebf5 !important;
  }
  .form-check-input {
    background-color: white;
    border: 1px solid #a6b0cf;
  }
  .form-check-input:checked {
    background-color: #7269ef;
    border-color: #7269ef;
  }
  .side-menu-nav .nav-item .nav-link {
    color: #878a92;
  }
  .side-menu-nav .profile-user {
    background-color: #f0eff5;
  }
  .chat-leftsidebar {
    background-color: #f5f7fb;
  }

  .bg-light {
    background-color: #e6ebf5!important;
  }
  .main-chat-board {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
  }
  .chat-list li a {
    // border-top: 1px solid #f5f7fb;
    transition: none;
  }
  .chat-conversation .right .conversation-list .ctext-wrap .ctext-wrap-content {
    background-color: #f5f7fb;
  }
  .border-bottom {
    border-bottom: 1px solid #f0eff5!important;
  }
  .chat-conversation .chat-day-title .title {
    background-color: #f0eff5;
  }
  .chat-conversation .chat-day-title:before {
    background-color: #f0eff5;
  }
  .border-top {
    border-top: 1px solid #f0eff5!important;
  }
  .dropdown-menu {
    color: #495057;
    background-color: #fff;
    border: 1px solid #f0eff5;
  }
  .emoji-mart-light, .emoji-mart-search input {
    background-color: #fff !important;
  }
  .emoji-mart-category-label span {
    color: #262e35 !important;
    background: white !important;
  }
  .emoji-mart-search input {
    border-color: #f5f7fb!important;
  }
  .side-menu {
    border-top: 1px solid #f0eff5;
  }
  .chat-list li.active a {
    background-color: #e6ebf5;
  }
  .chat-list li a:hover {
    background-color: #e6ebf5;
  }
  .card-header {
    background-color: #f5f7fb;
    // border-bottom: 0 solid #f5f7fb;
    border: 1px solid #f0eff5;
  }
  .border {
    border: 1px solid #f0eff5!important;
  }
  .btn-light {
    color: #212529;
    background-color: #e6ebf5;
    border-color: #e6ebf5;
  }
  .text-body {
    color: #495057!important;
  }
  .dropdown-item {
    color: #212529;
    background-color: transparent;
  }
  .dropdown-item:hover {
    background-color: #e6ebf5;
  }
  .img-thumbnail {
    background-color: #f7f7ff;
    border: 1px solid #f0eff5;
  }
  .dropdown-divider {
    border-top-color: #f0eff5;
  }
  .chat-conversation .right .conversation-list .ctext-wrap .ctext-wrap-content:before {
    border-color: #f5f7fb #f5f7fb transparent transparent;
  }
  .chat-conversation .right .conversation-list .ctext-wrap .ctext-wrap-content {
    background-color: #f5f7fb;
    color: #343a40;
  }
  .chat-user-img .user-status {
    background-color: #adb5bd;
    border: 2px solid #fff;
  }
  .chat-user-img.online .user-status {
    background-color: #06d6a0;
  }
  .chat-user-img.away .user-status {
    background-color: #ffd166;
  }
  .chat-leftsidebar .user-status-box {
    background-color: #e6ebf5;
  }
  .chat-list li a {
    position: relative;
    display: block;
    padding: 8px 16px;
    color: #7a7f9a;
  }
  .user-profile-sidebar {
    border-left: 4px solid #f0eff5;
    background-color: #fff;
  }
  // .border-bottom {
  //   background-color: white;
  //   border: none !important;
  // }

  .user-chat, .post-chat, .user-group {
    background-color: white;
  }

  .leftsidebar-home-header {
    .home-header-btn {
      background-color: #e6ebf5;
    }
  }

  .chat-input {
    background-color: white;
  }
  .user-chat-nav .nav-btn {
    color: #495057;
  }
  .leftsidebar-home-header .home-header-btn .group-add-btn {
    background-color: transparent;
  }
  .chat-nav-header-btn {
    color: #343434;
    background-color: #e6ebf5;
  }
  .chat-nav-header-btn.active {
    color: white;
  }
  .chat-post-list, .chat-message-list {
    background-color: white;
  }
  .leftsidebar-home-header .group-add-btn {
    background-color: #e6ebf5;
  }
  .nav-home-header, .nav-message-header {
    background-color: #f5f7fb;
  }
  .post-select-cover {
    background-color: white;
    i {
      color: #262e35;
    }
  }
  .chat-input {
    background-color: #fff;
  }
  .post-textarea {
    background-color: white;
    color: #19191B;
  }
  .post-main .post {
    background-color: #f5f7fb;
  }
  .auth-main-btn {
    // background-color: #f0f2fa;
    // color: #262e35 !important;
    &:hover {
      // background-color: #adb5bd;
    }
  }
  .alert-danger, .alert-success {
    color: #252526 !important;
    border: none;
    // background-color: transparent !important;
  }
  .black-img {
    display: none;
  }
  .white-img {
    display: block;
  }
  .alert-danger .white-img {
    display: inline-block;
  }
  .klubs-header {
    border-bottom: 1px solid #f0eff5;
  }
  .setting-collapse-title {
    color: #495057;
  }
  .auth-main-btn {
    color: white;
  }
  .auth-main-btn {
    @include colored() {
      background-color: c('color') !important;
    }
  }
  .owned-nft-main .header {
    color: #495057;
  }

  .profile-container > div:nth-child(2) {
    color: #495057;
  }
  .auth-first h1 {
    color: #19191B;
  }

  .profile-edit-main input {
    background-color: #e6ebf5;
    color: #343434;
  }
  
}




//------------------------ Theme color ---------------------------
.chat-conversation .conversation-list .ctext-wrap-content {
  @include colored() {
    background: c('color');
  }
}

.chat-conversation .conversation-list .ctext-wrap-content {
 &::before{
  @include colored() {
    border-left-color: c('color');
    border-top-color: c('color');
  }
 }
}
.side-menu-nav .nav-item .nav-link.active, .side-menu-nav .nav-item.show > .nav-link {
  @include colored() {
    color: c('color');
  }
}
.text-primary {
  @include colored() {
    color: c('color') !important;
  }
}

.btn-primary {
  @include colored() {
    background-color: c('color') !important;
    border-color: c('color') !important;
  }
}

.btn-link {
  @include colored() {
    color: c('color') !important;
  }
}

.chat-list li.typing .chat-user-message {
  @include colored() {
    color: c('color') !important;
  }
}

.chat-list li.typing .chat-user-message .dot {
  @include colored() {
    background-color: c('color') !important;
  }
}

.align-self-start.dropdown a {
  @include colored() {
    color: c('color') !important;
  }
}

#Ellipse_32 {
  @include colored() {
    fill: c('color') !important;
  }
  
}
.notification-cover .notification-badge {
  @include colored() {
    background-color: c('color') !important;
  }
}

.badge-soft-danger {
  color: white;
  @include colored() {
    background-color: c('color') !important;
  }
}

.form-check-input:checked {
  @include colored() {
    background-color: c('color') !important;
    border-color: c('color') !important;
  }
}

.chat-nav-header-btn.active {
  @include colored() {
    background-color: c('color') !important;
    border-color: c('color') !important;
  }
}


.voice-record-img {
    @include colored() {
      color: c('color') !important;
    }
}

.mic-btn {
  .btn-primary {
    @include colored() {
      background-color: c('color') !important;
    }
  }
}


// Add new desing css 


.side-menu-nav .nav-item .nav-link {
    background-color: transparent !important;
    .select {
      display: none;
    }

    &>div {
      color: #4F4F4F;
      font-size: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .profile-img {
        width: 30px;
        height: 30px;
        border-radius: 40px;
        border: 2px solid white;
      }
      span {
        line-height: 1;
        font-weight: 400;
      }
    }

    &.active {
      background-color: transparent !important;
      .select {
        display: block;
        margin: 0;
      }
      .no-select {
        display: none;
        margin: 0;
      }
      &>div {
        color: #6355FA;
        .profile-img {
          border-color: #6355FA;
        }
      }
    }

}

.nav-header-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  height: 56px;
  .nav-header-title {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #333333;

    a {
      display: contents;
      
      i {
        color: #333333;
        font-weight: normal;
        line-height: 1;
        font-size: 26px;
        margin-right: 5px;
      }
    }
  }
  .header-add-btn {
    width: 32px;
    height: 32px;
    background-color: #F2F2F2;
    color: #333333;
    font-size: 16px;
    border-radius: 99px;
    border: none;
    padding: 0;
  }
}

.nav-header-search-con {
  height: 50px;
  padding: 0 16px 10px 16px;
  background-color: white;
  .chat-search-box {
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 1000px;
    overflow: hidden;
    position: relative;
    span {
      position: absolute;
      left: 24px;
      top: 0px;
      background-color: transparent !important;
    }
    input {
      width: 100%;
      height: 100%;
      padding: 10px 20px 10px 58px;
      border: none;
      background-color: #F2F2F2;
      outline: none;
      font-weight: 16px;
      font-weight: 400;
    }
  }
}
.theme--light {
  .nav-header-header {
    background-color: white;
  }
  .chat-leftsidebar {
    background-color: white;
  }
  .chat-conversation .right .chat-time {
    text-align: left;
    color: #343a40;
}
}


.group-list-con {
  display: flex;
  align-items: flex-start;
  padding: 15px 16px 0 16px;
  justify-content: space-between; 
  margin-bottom: 2px;
  .group-infor-con {
    width: calc(100% - 66px);
  }
  .group-description {
    width: 72%;
    p {
       /* Hides content that exceeds the container width */
        overflow: hidden;

        /* The text is treated as a box element */
        display: -webkit-box;

        /* Sets the max line limit to 3 */
        -webkit-line-clamp: 3;

        /* Sets the orientation of the box */
        -webkit-box-orient: vertical;
        line-height: 1.2;
    }
  }
  .group-information {
    width: 28%;
    text-align: right;
    &>div:first-child {
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: right;
      i {
        font-size: 14px;
        margin-right: 5px;
      }
    }
    &>div:nth-child(2) {
      display: flex;
      align-items: center;
      justify-content: right;
      font-size: 12px;
      span {
        display: inline-block;
        margin-right: 4px;
        width: 8px;
        height: 8px;
        border-radius: 10px;
        background-color: #27AE60;
      }
    }
  }
}

.group-list.chat-list li a {
  padding: 0 !important;
  border: none !important;
}

.group-infor-con {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid #BDBDBD;
}



.theme--light .chat-list li.active a {
  background-color: #F2F2F2;
}


// create klubes 



.horizontal-slider {
  width: 100%;
  // max-width: 500px;
  height: 24px;
}

.example-thumb {
  font-size: 12px;
  color: #6355FA;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-track {
  position: relative;
  background: white;
  cursor: pointer;
}

.example-track.example-track-1 {
  background: #7A6EFB;
}

.horizontal-slider .example-track {
  top: 0;
  height: 24px;
  border-radius: 100px;
}

.horizontal-slider .example-thumb {
  top: 0;
  left: 0;
  width: 30px;
  height: 24px;
  color: #6355FA;
  border-radius: 100px;
  background-color: white;
}


.create-klubs-header {
  background-color: #6355FA;
  color: white;
  padding: 20px 16px;
  width: 100%;

  .header-main {
    position: relative;
    margin-bottom: 16px;
    transition: .3s ease;
    .header-link {
      position: absolute;
      left: 0;
      top: 0;
      i {
        color: white;
        line-height: 1;
        font-size: 20px;
      }
    }
    .header-text {
      font-size: 16px;
      font-weight: 600;
      color: white;
      text-align: center;
    }

  }
  .input-percent {
    width: 100%;
    height: 24px;
    border-radius: 10px;
    background-color: #7A6EFB;
    overflow: hidden;
    
    div {
      transition: .5s ease;
      text-align: right;
      color: #6355FA;
      font-weight: 600;
      font-size: 12px;
      width: 100%;
      height: 100%;
      background-color: white;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: right;
      padding-right: 5px;
    }
  }
  .header-footer.small {
    display: none;
  }
  &.small-bar {
    .header-main {
      display: none;
    }
    .header-footer {
      display: none;
    }
    .header-footer.small {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .input-percent {
        width: calc(100% - 30px);
      }
    }
    i {
      color: white;
      font-size: 20px;
    }
  }
}

@media (max-width: 992px) {
  .create-klubs-header {
    top: env(safe-area-inset-top);
    position: fixed;
    width: 100%;
  }
}

.create-klubs-input-con, .profile-main {
  padding: 24px 16px;
  padding-bottom: 90px;
  background-color: white;
  .profile-img {
    text-align: center;
    img {
      width: 163px;
      height: 163px;
      border-radius: 200px;
      margin-bottom: 16px;
      object-fit: cover;
    }
    label {
      color: #6355FA;
      font-size: 16px;
      font-weight: 600;
      display: block;
    }

    &.error {
      img {
        border: 2px solid #EB5757;
      } 
      .error-text {
        color: #EB5757;
      }
    }
  }
  .nec {
    color: #EB5757;
  }
  .input-con {
    width: 100%;
    margin-bottom: 24px;
    .text {
      font-size: 16px;
      font-weight: 600;
      color: #4F4F4F;
      margin-bottom: 10px;
      text-align: left;
    }
    input {
      width: 100%;
      height: 42px;
      padding: 16px 24px;
      font-size: 16px;
      font-weight: 400;
      border-radius: 100px;
      border: 1px solid #828282;
      outline: none;
      &:focus {
        border-color: #6355FA;
        color: #6355FA;
      }
    }
    textarea {
      width: 100%;
      height: 160px;
      border: 1px solid #828282;
      border-radius: 16px;
      padding: 16px 24px;
      resize: none;
      outline: none;
      font-size: 16px;
      font-weight: 400;
      &:focus {
        border-color: #6355FA;
        color: #6355FA;
      }
    }
    .button-con {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      button {
        width: calc(33% - 10px);
        height: 42px;
        border: 1px solid #828282;
        color: #828282;
        background-color: white;
        font-size: 16px;
        font-weight: 400;
        border-radius: 100px;
        &.active {
          border: 1px solid #6355FA;
          color: white;
          background-color: #6355FA;
        }
      }
    }
    .slider-text-1 {
      font-size: 16px;
      font-weight: 400;
      text-align: left;
    }
    .horizontal-slider {
      width: calc(100% - 60px);
      // max-width: 500px;
    }
    
    .example-thumb {
      font-size: 12px;
      color: #6355FA;
      text-align: center;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .example-track {
      position: relative;
      background: #6355FA;
    }
    
    .example-track.example-track-1 {
      background: #E8E6FE;
    }
    
    .horizontal-slider .example-track {
      height: 8px;
      border-radius: 100px;
    }
    
    .horizontal-slider .example-thumb {
      top: -8px;
      left: 0;
      width: 24px;
      background-color: #6355FA;
      height: 24px;
      color: #6355FA;
      border: 2px solid white;
      border-radius: 100px;
    }

    .slider-text-con {
      height: 26px;
      color: #6355FA;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 600;
      padding: 0 8px;
      border: 1px solid #BDBDBD;
      border-radius: 5px;
      line-height: 1;
      margin-left: 10px;
      margin-top: -14px;
      width: 60px;
    }
    .slider-con {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 28px 0 23px 0;
    }
    .social-input-con {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        border-radius: 100px;
        background-color: #F0EEFF;
        margin-right: 8px;
        img {
          width: auto;
          height: auto;
          border-radius: 0;
          margin-bottom: 0;
        }
      }
      input {
        width: calc(100% - 50px);
      }
      .error-text {
        display: none;
      }
    }
    &.error {
      input, textarea {
        border-color: #EB5757;
      }
      .error-text {
        font-size: 12px;
        display: block;
        color: #EB5757;
      }
    }
  }
  .Whale-chat-input-con {
    .slider-text-con {
      color: #48FA9B;
      &:focus {
        color: #06d6a0;
      }
    }
    
    .example-track {
      position: relative;
      background: #48FA9B;
    }
    
    .example-track.example-track-1 {
      background: #E4FEF0;
    }

    .horizontal-slider .example-thumb {
      background-color: #48FA9B;
      color: #48FA9B;
    }
  }
  @media (max-width: 992px) {
    &.small-bar {
      top:  calc(71px + env(safe-area-inset-top));
      height: calc(calc(var(--app-height) - 71px - env(safe-area-inset-top)) - env(safe-area-inset-bottom));
    }
  }
}

.modal-content, .modal-body, .modal-header, .modal-footer {
  background-color: white;
  border: white;
}

.form-control, .form-control:focus {
  color: #19191B;
  background-color: #F2F2F2;
  border-radius: 50px;
  border: none;
}

.chat-list li a {
  position: relative;
  display: block;
  padding: 15px 20px;
  color: #19191B;
  transition: all 0.4s;
  border-top: 1px solid white;
  border-radius: 4px;
}
.chat-list li a:hover, .chat-list li.active a {
  background-color: #E4FEF0;
}

.upload-error {
  font-size: 16px;
  color: red;
  margin-top: 20px;
  text-align: center;
}
.text-avatar {
  background-color: #6355FA;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.nav-header-link {
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  color: #2F80ED;
  padding: 7px 12px;
  line-height: 18px;
  background-color: #EBF3FE;
  border-radius: 40px;
  text-align: center;
  margin-right: 12px;
  cursor: pointer;
}

.header-edit-btn {
  color: #333333;
  font-size: 20px;
  border: none;
  background-color: transparent;
  font-weight: 400;
  padding: 0;
}
.header-dropdown {
  .btn {
    padding: 0;
  }
  .dropdown-menu {
    width: 180px !important;
    position: absolute;
    right: 0 !important;
    top: 0 !important;
    transform: none !important;
    border-radius: 8px;
    background-color: #F2F2F2;
    font-size: 14px;
    font-weight: 400;
    // padding: 12px 16px;
    padding: 12px 0;
  }
  .dropdown-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}


.add-chat-btn {
  height: 36px;
  width: auto;
  padding: 0 16px;
  background-color: #6355FA;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  display: inline-block;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.create-chat-message {
  position: fixed;
  width: 380px;
  padding-bottom: 80px;
  top:  calc(155px + env(safe-area-inset-top));
  height: calc(calc(var(--app-height) - 155px - env(safe-area-inset-top)) - env(safe-area-inset-bottom));
  @media (max-width: 990px) {
    width: 100%;
  }
}
.selected-member-main {
  display: flex;
  height: 50px;
  align-items: center;
  background-color: white;
  padding: 0 16px;
  &>div:nth-child(1) {
    margin-right: 8px;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
  }
  padding-bottom: 4px;
}
.selected-members-cover {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  position: relative;
  .text {
    position: absolute;
    left: 0;
    bottom: 11px;
  }
  &::-webkit-scrollbar {
    height: 5px;
    background: white;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #828282;
    border-radius: 10px;
  }
  .selected-members {
    font-weight: 600;
    font-size: 14px;
    white-space: nowrap;
    padding-bottom: 4px;
    width: auto;
    .selected-member-item {
      display: inline-block;
      padding: 0 12px;
      height: 36px;
      line-height: 1;
      background-color: #EFEEFF;
      border-radius: 40px;
      margin-right: 8px;
      font-size: 14px;
      font-weight: 400;
      display: inline-flex;
      align-items: center;
      span {
        font-size: 10px;
        display: contents;
        color: red;
        background-color: white;
        width: 24px;
        height: 24px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
        margin-left: 8px;
        font-size: 18px;
      }
    }

}
}

.chat-user-img {
  margin-right: 12px;
}

.chat-list-text {
  h5 {
    font-weight: 600;
    font-size: 14px;
    color: #333333;
  }
  h6 {
    font-weight: 400;
    font-size: 14px;
    color: #828282;
  }
}

.searched-user-list {
  position: relative;
  .check {
    position: absolute;
    right: 17px;
    top: 20px;
    .checked {
      display: none;
    }
  }
  &.active {
    .check {
      .checked {
        display: block;
      }
      .no-checked {
        display: none;
      }
    }
  }
}


// .theme--light .chat-list li.active a {
//   background-color: white !important;
//   &:hover {
//     background-color: white !important;
//   }
// }

// .theme--light .chat-list li a {
//   &:hover {
//     background-color: white !important;
//   }
// }

.con-context-menu {
  border-radius: 8px;
  background-color: #F2F2F2;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .18);
  padding: 10px 0;
  border: none;
  overflow: hidden;
  z-index: 9999;
  .con-context-item {
    color: #333333;
    &:hover {
      background-color: #f5f7fb;
    }
  }
}



@media (max-width: 990px) {
  .user-header {
    background-color: #6355FA;
    .avatar-title {
      align-items: center;
      background-color: white;
      color: #6355FA;
      display: flex;
      font-weight: 500;
      height: 100%;
      justify-content: center;
      width: 100%;
    }
    .text-muted {
      color: white !important;
    }
    h5 {
      color: white;
      font-weight: 14px;
      font-weight: 600;
    }
    h6 {
      color: #BDBDBD;
      font-weight: 400;
      font-weight: 14px;
      margin: 0;
    }
    .user-chat-nav .nav-btn {
      color: white;
    }
    .btn {
      border: none;
      background-color: transparent;
    }
    .header-edit-btn {
      color: white;
      display: flex;
      align-items: center;
    }
    .user-chat-nav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    .avatar-xs {
      height: 32px;
      width: 32px;
    }
  }
}

.theme--light {
  .chat-message-container {
    width: 100%;
    height: auto;
    padding-left: 60px;
    position: relative;
    margin-bottom: 10px;
    .avatar {
      position: absolute;
      left: 0;
      top: 0;
      border: 5px solid white;
      border-radius: 100px;
      .chat-user-img {
        margin-right: 0;
      }
      margin-top: -3px;
    }

    .username-time {
      .username {
        font-size: 14px;
        font-weight: 600;
        color: #6355FA;
        background-color: #EFEEFF;
        display: inline-block;
        padding: 5px 20px 5px 40px;
        border-radius: 0 100px 100px 0;
        line-height: 1;
        margin-left: -30px;
      }
      .time {
        font-size: 12px;
        font-weight: 400;
        color: #828282;
        margin-left: 10px;
        display: inline-block;
      }
    }
    .message {
      padding: 8px;
      font-weight: 400;
      color: #333333;
      font-size: 12px;
      word-break: break-all;
    }
    .message-dropdown {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

    .invite-main {
      margin-top: 100px;
      height: 150px;
      // background-color: #F2F2F2;
      width: 80%;
      margin: auto;
      font-weight: 600;
      font-size: 16px;
      color: #333333;
      text-align: center;
      .invite-btn-con {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 0;
        button {
          width: calc(50% - 10px);
          background-color: transparent;
          border-radius: 100px;
          height: 48px;
        }
        .accept {
          color: #27AE60;
          border: 2px solid #27AE60;
        }
        .decline {
          color: #EB5757;
          border: 2px solid #EB5757;
        }
      }
    }

  @media (max-width: 990px) {
    .invite-main {
      position: fixed;
      bottom: env(safe-area-inset-bottom);
      z-index: 99999;
      left: 0;
      padding: 16px;
      border-top: 1px solid #BDBDBD;
      // height: calc(calc(var(--app-height) - 71px - env(safe-area-inset-top)) - env(safe-area-inset-bottom));
      height: 150px;
      background-color: #F2F2F2;
      width: 100%;
    }
  }
}

.main-modal {
  z-index: 9999 !important;
}

// profile page 

.profile-header {
  position: relative;
  background-color: #6355FA;
  color: white;
  padding: 16px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .profile-header-btn {
    button {
      border: none;
      background-color: transparent;
      color: white;
      // font-weight: bold;
      font-size: 18px;
      padding: 0;
    }
  }

}

.profile-main {
  position: relative;
  padding-bottom: 20px;
  .profile-main-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 135px;
    z-index: 1;
    background-color: #6355FA;
  }
  .profile-avatar {
    padding-top: 33px;
    text-align: center;
    position: relative;
    z-index: 2;
    img {
      width: 163px;
      height: 163px;
      border-radius: 300px;
      border: 8px solid white;
      object-fit: cover;
    }
    .name {
      font-size: 16px;
      font-weight: 600;
    }
    .username {
      font-size: 16px;
      font-weight: 400;
    }
    label {
      display: inline-block;
      color: #6355FA;
    }
  }

  .profile-lists {
    padding: 55px 0 10px 0;
    .list {
      cursor: pointer;
      padding: 16px 0;
      display: flex;
      align-items: flex-start;
      border-bottom: 1px solid #BDBDBD;
      .icon {
        width: 34px;
        height: 34px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        background-color: #F2F2F2;
        color: #6355FA;
        margin-right: 8px;
        font-weight: 500;
      }
      .text {
        font-size: 16px;
        font-weight: 600;
        span {
          font-size: 12px;
          font-weight: 400;
          display: block;
        }
      }
      transition: .3s ease;
      &:hover {
        filter: brightness(.9);
      }
    }
    .list:last-child {
      border: none;
    }
    .list:nth-child(2) {
      .icon {
        color: #FA7B6E;
      }
    }
    .list:nth-child(3) {
      .icon {
        color: #31D77E;
      }
    }
    .list:nth-child(4) {
      .icon {
        color: #E5B300;
      }
    }
  }
  .error-text {
    color: #EB5757;
  }
}

@media (max-width: 990px) {
  .profile-header {
    position: fixed;
    top: env(safe-area-inset-top);
    left: 0;
    width: 100%;
    z-index: 9;
  }
  .profile-main {
    position: fixed;
    width: 100%;
    top: calc(55px + env(safe-area-inset-top));
    height: calc(calc(var(--app-height) - 100px - env(safe-area-inset-top)) - env(safe-area-inset-bottom));
  }
}


.account-link {
  font-size: 16px;
  font-weight: 600;
  color: #6355FA;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  i {
    font-weight: normal;
    font-size: 18px;
  }
  &.red {
    color: #EB5757;
  }
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-input {
  position: relative;
  input {
    width: 100%;
    padding-left: 40px !important;
  }
  &>span {
    position: absolute;
    left: 20px;
    top: 11px;
  }
  input:focus + span {
    i {
      color: #6355FA;
    }
  }

}

.wallet-modal-body {
  color: #6355FA !important;
}

.wallet-btn-con {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  button {
    width: 18px;
    height: 18px;
    overflow: hidden;
    border: none;
    background-color: transparent;
    color: #333333;
    font-size: 26px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.wallet-icon {
  font-size: 18px;
}

